/* colorines.css*/
body {
    color: grey;
    background-color: black;
    font-weight: bold;
    font-family:"Helvetica", "Arial", sans-serif;
}

body, table {
    margin: 0;
    padding: 0;
    width: 100%;
}
.artista{
    color: grey;
    font-size: small
}

.fuente-blanco{
    color: white;
}

th{
    color: white;
    height: 30px;
    text-align: left;
}
tr{
    height: 60px;
}
td:first-child{
    text-align: center;
}

td img{
    margin-right: 20px;
}

td:nth-child(2){
    display: flex;
    align-items: center;
}
