/* colorines.css*/
body {
    color: grey;
    background-color: black;
    font-weight: bold;
    font-family:"Helvetica", "Arial", sans-serif;
}

body, table {
    margin: 0;
    padding: 0;
    width: 100%;
    border-collapse: collapse;
}
.artista{
    color: grey;
    font-size: small
}

.fuente-blanco{
    color: white;
}

th{
    color: white;
    height: 30px;
    text-align: left;
}
tr{
    height: 60px;
}
td:first-child{
    text-align: center;
}

td img{
    margin-right: 20px;
}

td:nth-child(2){
    display: flex;
    align-items: center;
}

p{
    padding: 10px;
}


tr:not(:first-child):hover{
    background-color: rgba(159, 154, 154,0.5);
    cursor: pointer;
}
table{
    border: 0;
}

td,th{
    border: none;
}